body {
    font-family: "Roboto", sans-serif;
}

.container-wrapper {

}

.container-wrapper-green {
    background-color: #2d9a00;
    color: #fff;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #d39e00;
    border-bottom-color: #d39e00;
}

.callout-container {
    height: 100vh;

    background: url('https://github.com/GazzaJ/Whisky-Drop/blob/master/assets/images/whisky-book.jpg?raw=true') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.quotes-container {}

.features-container {}

.favourites-container {
    text-align: center;
}

/*-----Page Headers----*/

.page-header {
    border-bottom: 0;
    text-align: center;
    margin-bottom: 25px;
}

.page-header h2 {
    margin-top: 0;
}

/*------Block Dividers---*/

.block-divider {
    width: 150px;
    height: 5px;
    border: 0;
    background-color: rgb(124, 120, 120);
}

.block-divider--green {
    background-color: rgb(126, 235, 126);
}

.block-divider--white {
    background-color: #fff;
}

.block-divider--short {
    width: 75px;
}

/*-----Content Container----*/

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*------NAVBAR---------*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25)
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;    
}
.navbar .navbar-nav a {
    font-weight: bold;
}


/*------JUMBOTRON------*/

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/*-------Buttons----*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--green {
    color: white;
    background-color: #2d9a00;
    border-color: #999c98;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

.features {
    text-align: center;
    margin-bottom: 40px;
}

.table-header  {
    font-size: 20px;
}

.features .btn {
    background-color: #fff;
    border-color: #fff;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color:#2d9a00;
}